*~
.directory
.DS_Store
*.orig
*.core
*.diff
*.patch
*.out
.gitattributes
google*.html
forum/config.php
forum/cache/*
!forum/cache/.htaccess
forum/files/*
!forum/files/.htaccess
forum/images/avatars/upload/*
!forum/images/avatars/upload/.htaccess
mediawiki/LocalSettings.php
mediawiki/cache/*
!mediawiki/cache/.htaccess
mediawiki/images/*
!mediawiki/images/.htaccess
