*~
.directory
.DS_Store
*.orig
*.core
*.diff
*.patch
*.out
.gitattributes
google*.html
oldforum/config.php
oldforum/cache/*
!oldforum/cache/.htaccess
oldforum/files/*
!oldforum/files/.htaccess
oldforum/images/avatars/upload/*
!oldforum/images/avatars/upload/.htaccess
mediawiki/LocalSettings.php
mediawiki/cache/*
!mediawiki/cache/.htaccess
mediawiki/images/*
!mediawiki/images/.htaccess
mediawiki/mediawiki
files/*
admin/*
horizon/*
