Options -Indexes

php_value upload_max_filesize 32M
php_value post_max_size 32M

RewriteEngine on
RewriteCond %{HTTP_HOST} ^play.redeclipse.net$
RewriteRule ^(.*)$ http://redeclipse.net/$1 [R=301,L,NC]

RewriteRule ^/?$ http://www.redeclipse.net/ [R=301,L,NC]
RewriteRule ^/?home$ http://www.redeclipse.net/ [R=301,L,NC]

RewriteRule ^/?wiki(/.*)?$ /mediawiki/index.php [QSA,L,NC]
RewriteRule ^/?forum/(.*).php$ /oldforum/$1.php [R=301,QSA,L,NC]
RewriteRule ^/?appimage/(.*)/(.*)$ https://github.com/red-eclipse/deploy/releases/download/appimage_continuous_$1/$2 [R=302,L,NC]
RewriteRule ^/?stats/?(.*)?$ http://play.redeclipse.net:28700/$1 [R=302,L,NC]
RewriteRule ^/?(base|bonus|community|deploy|maps|textures|world)/?(.*)?$ https://github.com/red-eclipse/$1/$2 [R=302,QSA,L,NC]

RewriteCond %{REQUEST_URI} !^/?(oldforum|mediawiki|favicon.ico)(/.*)?$
RewriteRule ^/?(.*)$ http://www.redeclipse.net/$1 [R=302,L,NC]
