Options -Indexes

php_value upload_max_filesize 32M
php_value post_max_size 32M

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.redeclipse.net$ [OR,NC]
RewriteCond %{HTTP_HOST} ^play.redeclipse.net$
RewriteRule ^(.*)$ http://redeclipse.net/$1 [R=301,L,NC]

RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/mediawiki/index.php [QSA,L,NC]

RewriteRule ^(download|torrent|tracker|svn|git|gamejolt|google|facebook|youtube|stats)/(.+)$ /bits/index.php?target=$1&title=$2 [QSA,L,NC]
RewriteRule ^(home|tracker|servers|stats|download|torrent|chat|svn|git|google|facebook|youtube|itchio|desura|indiedb|gamejolt|devel|guidelines|faq|guide|install|contribute|trademark|license|readme|apply|donate|forums)$ /bits/index.php?target=$1 [QSA,L,NC]
RewriteRule ^(sitemap|sitemap.xml)$ /bits/sitemap.xml [QSA,L,NC]
RewriteRule ^favicon.ico$ /bits/favicon.ico [QSA,L,NC]
RewriteRule ^$ /bits/index.php [QSA,L,NC]
