Options -Indexes

php_value upload_max_filesize 32M
php_value post_max_size 32M

RewriteEngine on
RewriteCond %{HTTP_HOST} ^play.redeclipse.net$
RewriteRule ^(.*)$ http://redeclipse.net/$1 [R=301,L,NC]

RewriteRule ^/?$ http://www.redeclipse.net/ [R=301,L,NC]
RewriteRule ^/?home$ http://www.redeclipse.net/ [R=301,L,NC]

RewriteRule ^/?wiki(/.*)?$ /mediawiki/index.php [QSA,L,NC]
RewriteRule ^/?forum/(.*).php$ /oldforum/$1.php [R=301,QSA,L,NC]
RewriteRule ^/?appimage/(.*)/(.*)$ https://github.com/red-eclipse/deploy/releases/download/appimage_continuous_$1/$2 [R=302,L,NC]
RewriteRule ^/?stats/?(.*)?$ http://play.redeclipse.net:28700/$1 [R=302,L,NC]
RewriteRule ^/?(base|bonus|community|deploy|maps|textures|world)/?(.*)?$ https://github.com/red-eclipse/$1/$2 [R=302,QSA,L,NC]

SetEnv RELEASE_VER 1.6.0
RewriteRule ^/?download/(win|windows)/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_win.exe [R=302,L,NC]
RewriteRule ^/?download/(nix|linux|bsd)/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_nix.tar.bz2 [R=302,L,NC]
RewriteRule ^/?download/(mac|macos|macosx|osx)/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_mac.tar.bz2 [R=302,L,NC]
RewriteRule ^/?download/zip/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_win.zip [R=302,L,NC]
RewriteRule ^/?download/combined/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_combined.tar.bz2 [R=302,L,NC]
RewriteRule ^/?torrent/(win|windows)/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_win.exe [R=302,L,NC]
RewriteRule ^/?torrent/(nix|linux|bsd)/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_nix.tar.bz2.torrent [R=302,L,NC]
RewriteRule ^/?torrent/(mac|macos|macosx|osx)/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_mac.tar.bz2.torrent [R=302,L,NC]
RewriteRule ^/?torrent/combined/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_combined.tar.bz2.torrent [R=302,L,NC]
RewriteRule ^/?torrent/zip/?$ https://github.com/red-eclipse/base/releases/download/v%{ENV:RELEASE_VER}/redeclipse_%{ENV:RELEASE_VER}_win.zip.torrent [R=302,L,NC]

RewriteCond %{REQUEST_URI} !^/?(oldforum|mediawiki|favicon.ico)(/.*)?$
RewriteRule ^/?(.*)$ http://www.redeclipse.net/$1 [R=302,L,NC]
