@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ruda|Orbitron:400,900|Oswald:300,400,700);
body{
background:#340201 url(/bits/bg2.jpg) no-repeat center top;
color:rgb(220,220,220);
font-family:Ruda;
line-height: 1.7em;
}
a {color:rgb(255,190,190);}
a:hover {color:rgb(255,190,190);}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.3);
    border:none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fcc;
}
.navbar-toggle{
	margin-top:23px;}
	
.navbar-nav > li > a {
    font-family: Oswald;
    text-transform: uppercase;
transition:all 0.5s linear 0s;
	-webkit-transition:all 0.5s linear 0s;
	    padding-bottom: 30px;
    padding-top: 30px;

	}
	@media screen and (max-width: 1200px) {
.navbar-nav > li > a {
	    padding-bottom: 10px;
    padding-top: 10px;

	}
}
.navbar-nav > li > a:hover {
   	text-shadow: 0px 0px 6px rgb(255,0,0), 0px 0px 3px rgb(255,128,128);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(50,0,0,0.5);
-webkit-box-shadow: inset 0px 0px 40px 0px rgba(255,0,0.5);
-o-box-shadow: inset 0px 0px 40px 0px rgba(50,0,0,0.5);
box-shadow: inset 0px 0px 40px 0px rgba(50,0,0,0.5);
}
	
.navbar-brand {
  height:auto;
  padding:0;
}
.navbar-brand:hover{
	 text-shadow: 0px 0px 6px rgb(255,0,0), 0px 0px 3px rgb(255,128,128);

	}
h1{
	color:rgb(255,255,255);
	margin-top:0;
	font-family: Orbitron;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5em;
    text-transform: uppercase;
	text-shadow: 0px 0px 6px rgb(255,0,0), 0px 0px 3px rgb(255,128,128);
;

	}
h1 b{
font-weight:900;
display:block;
 display: block;
    font-size: 30px;
    letter-spacing: 0;
	}

h3{
	    color: rgb(200, 190, 190);
	font-family:Ruda; font-weight:900; font-size:14px; margin:10px}
h4{
	margin-top:0;
	font-family: Orbitron;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
	}
.btn-primary {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 86%, rgba(0,0,0,0.2) 99%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(0,0,0,0.3)), color-stop(99%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 86%,rgba(0,0,0,0.2) 99%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 86%,rgba(0,0,0,0.2) 99%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 86%,rgba(0,0,0,0.2) 99%,rgba(0,0,0,0.2) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 86%,rgba(0,0,0,0.2) 99%,rgba(0,0,0,0.2) 100%); /* W3C */
-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,0,0,1),inset 0px 0px 40px 0px rgba(50,0,0,0.5);
-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,0,0,1), inset 0px 0px 40px 0px rgba(255,0,0.5);
-o-box-shadow: inset 0px 1px 0px 0px rgba(255,0,0,1), inset 0px 0px 40px 0px rgba(50,0,0,0.5);
box-shadow: inset 0px 1px 0px 0px rgba(255,0,0,1), inset 0px 0px 40px 0px rgba(50,0,0,0.5);
    background-color: rgb(180,0,0);
    border-color: #600;
    color: #fff;
	padding:16px 20px;
	margin:20px 0 14px;
	transition:all 0.5s linear 0s;
	-webkit-transition:all 0.5s linear 0s;
	text-shadow: 0px 0px 6px rgb(255,0,0), 0px 0px 3px rgb(255,128,128);

}
.btn-primary:hover {
	background-color: rgb(0,180,180);
	box-shadow: inset 0px 1px 0px 0px rgba(0,255,255,1), inset 0px 0px 40px 0px rgba(0,255,255,1), 0px 0px 20px 0px rgba(0,255,255,1);
	-moz-box-box-shadow: inset 0px 1px 0px 0px rgba(0,255,255,1), inset 0px 0px 40px 0px rgba(0,255,255,1), 0px 0px 20px 0px rgba(0,255,255,1);
	-o-box-shadow: inset 0px 1px 0px 0px rgba(0,255,255,1), inset 0px 0px 40px 0px rgba(0,255,255,1), 0px 0px 20px 0px rgba(0,255,255,1);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,255,255,1), inset 0px 0px 40px 0px rgba(0,255,255,1), 0px 0px 20px 0px rgba(0,255,255,1);
		text-shadow: 0px 0px 5px rgb(128,255,255);


	}
	
	
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    font-size: 12px;
	margin-right:5px;
	font-family:Ruda;
}
.version {
font-size: 10px;
    font-weight: 400;
	font-family:Ruda;
	padding:0;
	margin:0;
}
.download{
	font-size:21px;
font-family: Orbitron;
font-weight:900;
padding:0;

margin:0;	}
.btn {
    border-radius: 40px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
#indiedb
{
	margin:20px auto;
}
#cube2{
	margin:20px auto;
	}
#main{

}
#header{
	
	padding-bottom:20px;
	}

.texte{
	padding:30px;
background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%), url(/bits/base1b.jpg);; /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))), url(/bits/base1b.jpg);; /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%), url(/bits/base1b.jpg);; /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%), url(/bits/base1b.jpg);; /* Opera 11.10+ */
background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%), url(/bits/base1b.jpg);; /* IE10+ */
background-image:  linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%), url(/bits/base1b.jpg); /* W3C */

-moz-box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1),inset 0px 0px 70px 0px rgba(0,0,0,1);
-webkit-box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1),inset 0px 0px 70px 0px rgba(0,0,0,1);
-o-box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1),inset 0px 0px 70px 0px rgba(0,0,0,1);
box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,0.1),inset 0px 0px 70px 0px rgba(0,0,0,1);
}
	
.support{
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
	}
	.footer{
		background-color:#600;
		font-size:14px;
		font-family:Orbitron;
		
		}
	.social-icons{
		font-size:30px;
		text-align:right;
		}
	@media screen and (max-width: 992px) {
	.footer {
		text-align:center;}
		.social-icons{
		text-align:center;
		}
		.video {
		 padding:9px 0px 0px 0;
	 }
		}
	
	@media screen and (min-width: 1280px) {
	#container{
		width:1280px;
		margin:auto;}
	 .video {
		 padding:9px 0px 30px 0;
	 }
		}
		@media screen and (min-width: 992px) and (max-width: 1280px) {
	#container{
		width:100%;
		margin:auto;}
	.video {
		 padding:9px 30px 30px 0;
	 }
		}
		#copyright{
			font-size:11px;
			text-align:center;
			padding:20px; background-color:#000;
			}
		#copyright p{
			margin:0;
			padding:0;
			}
		.carousel-control{
			width:6%;
	}
